*

!src/
!src/*.py
!src/handlers/
!src/handlers/*.py

!data/
!data/*.txt
!textflight.conf.example

!manual/
!manual/*.md
!build_manual.sh
manual/09-data-files.md
textflight-manual.md

!locale/
!genlocales.sh

!./*.md
!.gitignore
